* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header img {
    display: inline-block;
    padding: 20px 5px 20px 35px;
    height: 128px;
}

header h1 {
    display: inline-block;
    font-size: 4em;
    line-height: 128px;
    vertical-align: top;
}

main {
    background-color: #F6F8F9;
    padding: 60px 0;
}

main #sezione-centrale {
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 1%;
}

main nav {
    padding: 20px 50px;
}

nav button {
    border-radius: 10px;
    border: 2px solid;
}

nav #add-task {
    padding: 5px;
    background-color: #45abea;
    color: white;
    border-color: #45abea;
}

nav #add-section {
    padding: 5px;
    background-color: white;
    color: grey;
    border-color: grey;
}

#sezione-centrale hr {
    border-color: #F6F8F9;
}

#sezione-centrale #task-list {
    padding: 30px 50px;
}

#task-list .task {
    margin-bottom: 30px;
}

.task h2 {
    margin-bottom: 10px;
}

.task h2:before {
    content: '\25BE';
}

.task ul {
    list-style-type: none;
}

.task li {
    margin-bottom: 10px;
}

li .mark {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    line-height: 1.5em;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
}

li .done {
    color: green;
    border-color: green;
}

li .undone {
    color: red;
    border-color: red;
}

li .tipo-task {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    font-size: 0.7em;
    color: white;
}

li .editoriale {
    background-color: #45abea;
}

li .q1-golas {
    background-color: #9C72E4;
}

li .recruiting {
    background-color: #64C0A9;
}

li .mobile {
    background-color: #F29E33;
}

li .website {
    background-color: #D761A0;
}

li .sales {
    background-color: #B0C926;
}
